body{
    margin: 0;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color:white; 
    font-family: 'Barlow';
}
.logo
{
    position: absolute;
    top:67px;
    left:4%;
}
.upperline
{
    position: absolute;
    width: 33%;
    height: 1px;
    left: 11%;
    top: 70px;
}
.container{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    width: 58%;
    height: 96px;
    position: absolute;
    right: 0;
    left: 42%;
    top:43px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.navbar-nav {
    font-family: 'Barlow Condensed';
    gap:48px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 2.7px;
    height: 96px;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    margin-left: 90px;
}
.home,.destination,.technology
{
   border: none;
}
.destination:hover,.crew:hover,.technology:hover{
    border-style: solid ;
    border-width: 0;
    border-bottom-width: 3px;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.crew{
    border-style: solid ;
    border-width: 0;
    border-bottom-width: 3px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.close-icon
{
    color:white;
    display: none;
}
.one{
    opacity: 0.25;
    margin-right: 10px;
}
.upperheading{
    font-family: 'Barlow Condensed';
    position: absolute;
    left: 10%;
    right: 1.57%;
    top: 20%;
    letter-spacing: 5px;
    font-weight:400;
    font-size: 28px;
}


.main-box
{
    position: absolute;
    left: 10%;
    bottom: 0%;
    height: 500px;
    display: grid;
    grid-template: 1fr 0.2fr/1fr 1fr;
}

.img{
    grid-area: 1/2/-1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img img{
    height: 500px;
}
.img-below-line
{
    display: none;
}

.sidebox
{
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.crew-position
{
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 3px;
    opacity: 0.5;
}
.name
{
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}


.bottom
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main,.other
{
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.other{
    opacity: 0.17;
}
.other:hover
{
    opacity: 0.5;
}


@media screen and (max-width:767px)
{
    .upperline{
        display: none;
    }  
    .numbers
    {
        display: none;
   }
    body{
        margin: 0;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
        color:white; 
    }   
   
    .logo{
        top:24px;
    }
    .container{
        top:0;
        width: 445px;
        height: 96px;
        left:auto;  
        padding-left: 30px;
    }
    .navbar-nav{
        gap:30px;
        font-size: 14px;
    }
    .home{
        margin-left: 0;
    }
    .upperheading{
        position: absolute;
        left: 5%;
        top: 20%;
        letter-spacing: 5px;
        font-size: 20px;
    }

    .main-box
    {
        position: absolute;
        top:220px;
        gap: 40px;
        display: grid;
        grid-template: 0.6fr 0.2fr 0.9fr/1fr; 
        width: 100%;
    }

    .img{
        grid-area:  3/1/4/2 ;
    }
    
    .sidebox
    {
        order: -5;
        grid-area: 1/1/2/2;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
    .crew-position h3
    {
        font-size: 18px;
        line-height: 28px;
    }

    .name h1{
        font-size: 40px;
        margin-bottom: 16px;
    }

    .bottom{
       justify-content: center;
    }


}



@media screen and (max-width: 575px) {
    body
    {
        background-image: url(./assets/crew/background-crew-mobile.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
    .container{
        left: auto;
        top:0;
        right: 0;
        width: fit-content;
        background: none;
        backdrop-filter: none ;
        padding: 0;
    }
    .logo
    {
        top:33px;
        left: 24px;
    }
    .navbar-toggler
    {
        margin-top: 33px;
        padding: 0;
        padding-right: 24px;
        z-index: 10;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .navbar-collapse{
        position: absolute;
        right: 0px;
        top:0;
        width: 250px;
        height: 850px;
        margin-right: 0; 
        background: rgba(255, 255, 255, 0.04);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(150px);
        animation: none;
        z-index: 3;
    }

    .navbar-nav{
        margin-top: 50%;
        font-size: 16px;
        letter-spacing: 3px;
        gap: 50px; 
    }

    .nav-item{
        justify-content: flex-start;
        margin-left: 50px;
    }

    .numbers{
        display: inline-block;
        padding-right: 5px;
    }

   .crew{
    border-style: solid ;
    border-width: 0;
    border-right-width: 5px;
    border-color: white;
    }
    .crew:hover{
        border: none;
        opacity: 1;
    }

    .home:hover,.destination:hover,.technology:hover{
        border-style: none ;
        opacity: 1;
    }

    .main-box{
        width: 100%;
        margin-bottom: 200px;
        left:0;
        right:0;
    }
    .upperheading
    {
        display: flex;
        justify-content: center;
        font-family: 'Barlow Condensed';
    }

    .name h1{
        font-size: 30px;
    }

    .img{     
        grid-area: 1/1/2/2;
    }

    .img img{
        height: 300px;
    }
    .img-below-line{
        display:block;
        color:white;
        width: auto;
        margin: 0;
    }
    .sidebox{
        grid-area: 3/1/4/2;
    }

    .description p{
        line-height: 25px;
    }

}
